{% extends 'core/base.html' %}
{% load static %}

{% block title %}
Dashboard - Kartexa
{% endblock title %}

{% block content %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-xxl-4 col-md-12">
            <div class="card info-card today-card">
              <div class="card-body">
                <h5 class="card-title">
                  Welcome  {{user.username | title}}
                </h5>

                <div class="d-flex align-items-center">
                  
                  <div class="ps-3">
                  <span>You can Generate, View, Delete and Verify certificate </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

      
        </div>
      </div>
      <!-- End Left side columns -->
    </div>
  </section>
</main>
<!-- End #main -->
<style>
        #footer {
         padding-top: 240px; 
        bottom: 0;
        left: -10%;
        right:5px ;
        width: 100%;
       clear: both;
        flex: 0 0 50px;
        height: 100%;
        position:relative;
    }
      </style>
{% endblock content %}
