<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Website</title>
    <!----CSS link----->
    <link rel="stylesheet" href="gg.css">
</head>
    <body>
         <nav >
         <img src="TextLogo.png" class="logo">
       <ul>
            <li><a href="index1.html" target="_top">Home</a></li>
            <li><a href="about.html" target="_top">Profile</a></li>
            <li><a href="project.html" target="_top">Events</a></li>
            <li><a href="certification.html" target="_top">Certification</a></li>
            </ul>
        <button type="button">Contact us</button>
    </nav>
        <div class="announcement">
    <p>Announcement </p>
  </div>
    <div class="ragra">
        <p>Welcome Octavia,<br></p>
     </div>
    <div class="ragra">
        <div class="image">
        <img src="passport%20size%20phote.jpeg" alt="image"  height="120px" width="120px">
        </div>
        <div class="image">
            <h5><span class='notbold'>Remarks<br>Octavia is an Outstanding and Innovative person</span></h5>
        </div>
        <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><Strong>Certification Number</Strong></td>
                                        <td class="text-primary">9578276872453</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Name</strong></td>
                                        <td class="text-primary">Octavia</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Role</strong></td>
                                        <td class="text-primary">SDE Intern</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Organisation</strong></td>
                                        <td class="text-primary">Kartexa</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Internship Organizer</strong></td>
                                        <td class="text-primary">Vidvandya</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Internship Name</strong></td>
                                        <td class="text-primary">Software Developer</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Internship Date</strong></td>
                                        <td class="text-primary">12-Jun-22 to 12-Jul-22</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
        <button class="down" href="#">Download</button>
        <button class="print" href="#">Print</button>
        </div>
        <div>
        <footer id="footer" class="grid-container np-mobile ">
            <h2 class="log"><center><a href="https://kartexa.com/pj/"><img src="https://kartexa.com/pj/wp-content/uploads/2023/01/transparent.png" alt="Kartexa" width="200"></a></center></h2>
            <div class="published border-effect">
                <div class="span-item">
                    
                   <center>© 2019-2023 </center>
                    <center><a href="https://kartexa.com">KarTexa.com</a></center>
                    </div>
                
                <div class="span4 footerlogo item">
                </div>
            </div>
</footer>
            </div>
    
    </body>
