<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Verify Certificate - Kartexa</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/logo.png' %}" rel="icon" />
  <link href="{% static 'img/logo.png' %}" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script src = "{% static 'js/jquery-3.5.1.js' %}"></script>
  <script src = "{% static 'js/jquery.validate.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}"/>

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Verify Certificate</h5>
                    <p class="text-center small">Enter the Certificate Details</p>
                  </div>
           
                  <form class="row g-3" action="#" method="post" id="certForm"novalidate>
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="certificate_number" class="form-label">Certificate Number</label>
                      <input type="name" name="certificate_number" class="form-control" id="num" required>
                  
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100 verifyCertificate"  name="verify">Verify</button>
                    </div>
                  </form>

                </div>
              </div>

            

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->


  <script>
   let certificate_form = document.getElementById('certForm');
   certificate_form.addEventListener("submit", (e) =>{
    e.preventDefault()
    var certificate_number = document.getElementById('num').value;
    if (certificate_number == ""){
        alert("Certificate number cannot be empty")
    }else{
        console.log(certificate_number);
    window.location ="http://127.0.0.1:8000/"+certificate_number+"/verify"
    }

    
   })

  </script>

  
</body>

</html>