{% load static %}

<nav><img src="{% static 'img/transparent.png' %}" class="logo" width="200" /></nav>
<center><div class="container">
<div class="account-panel create panel-box">
    <div class="panel">
        <h4 class="panel-title">Password reset complete</h4>
        <div class="panel-body">
          
                            <p>Your password has been set. You may go ahead and log in now. </p>
                                                   <button id="Login" onclick="login()">Login</button>
                            
                    
</div>
</div>
</div>
</div>
</center>
<style>
    logo{
  max-height: 50px;
}
.container{
    width: 600px;
    padding-top: 100px;
  height: 200px;
  padding: 50px;
  padding-left: 60px;
  border: 0px solid gray;

    }
    
    #Login{
  width: 100px;
    height: 45px;
     border: 2px solid red;
  border-radius: 8px;
    border: none;
    color: white;
    background:
    rgb(66, 245, 191);
}
</style>

<script>
  function login() {
  window.location.replace("/accounts/login/")
}

</script>
